<div class="connected-container h-full w-full">

<ng-template #sidepanelTemplate>
  <div class="p-2 sidepanel-container">
    <app-logo></app-logo>
    <div class="peer-info">
      <div class="id-line">
        <div class="float-left id-line"><span (click)="copyMyId()" class="clipboard mt-1 float-left"></span> <span class="float-right">ID:</span></div>
        <div class="float-right text-right max-width-100">{{peerId}}</div>
      </div>
      <div class="id-line">
        <div class="float-left">Name:</div>
        <div class="float-right">{{nickname}}</div>
      </div>
    </div>
    <div class="conn-stream-container">
      <div class="connections-section">
        <h5 class="text-center">CONNECTIONS</h5>
        <div class="add-peer">
          <input type="text" placeholder="Remote ID" class="add-peer-textfield" [(ngModel)]="newPeerId" pInputText/>
          <button (click)="addPeer()" class="add-peer-button p-button-sm">+</button>
        </div>
        <ul class="peer-collection-container">
          <li class="peer-connection" *ngFor="let connection of connectionList">
            <span class="peer-status-connected" [ngClass]="{'peer-status-streaming': connection.stream !== undefined}"></span>
            <span class="peer-status-line">
            {{connection.nickname}}
            <i class="pi pi-info-circle" [pTooltip]="connection.id" tooltipZIndex="10000"></i>
            <div class="peer-remove" (click)="removePeer(connection.id)">X</div>
          </span>
          </li>
        </ul>
    </div>
      <div class="stream-section" (click)="openStreamScreenPicker()">
          <h5>STREAM</h5>
          <div class="screen" [ngClass]="{'screen-streaming': streaming}"></div>
      </div>
    </div>
    <div class="footer">
      <a class="disconnect-button" (click)="disconnect()" routerLink="/home">
        <i class="pi pi-times-circle" pTooltip="Disconnect"></i>
      </a>
      <a (click)="openCredits()" ><i class="pi pi-cog" pTooltip="Settings"></i></a>

    </div>
  </div>
</ng-template>
<app-sidepanel [panelTemplate]="sidepanelTemplate">

</app-sidepanel>
<div class="peer-stream-container">
  <ng-container *ngIf="hasFocusedConnection === false; else focusedPeerBlock">
    <ng-container *ngFor="let stream of mediaStreams">
      <app-stream-peer-block 
      [title]="stream.nickname"
      [media]="stream.stream"
      (dblclick)="toggleFocus(stream)"
      >
      </app-stream-peer-block>
    </ng-container>
  </ng-container>            
<ng-template #focusedPeerBlock>
  <app-stream-peer-block
             [title]="focusedConnection.nickname"
             [media]="focusedConnection.stream"
             class="focused-peer-block"
             (dblclick)="toggleFocus(focusedConnection)"
             [focused]="true"
             >
             </app-stream-peer-block>
</ng-template>
</div>
<app-stream-screen-picker (mediaStreamSelected)="onStreamSelected($event)" #streamScreenPicker></app-stream-screen-picker>
<app-peer-connection-dialog *ngIf="showConnectionDialog" (accepted)="connection.acceptConnection($event); showConnectionDialog = false" (rejected)="connection.denyConnection($event); showConnectionDialog = false" [newConnection]="newConnection" [display]="true" #peerConnectionDialog></app-peer-connection-dialog>
<app-settings-dialog #settingsDialog [configuration]="configuration"></app-settings-dialog>
</div>
