<div class="connected-container h-full w-full">
  
<ng-template #sidepanelTemplate>
  <div class="p-2 sidepanel-container">
    <app-logo></app-logo>
    <div class="peer-info">
      <div class="id-line">
        
        <span>ID: {{peerId}}</span><div class="clipboard"></div>
      </div>
      <span> [{{nickname}}] </span>
    </div>
    <div class="conn-stream-container">
      <div class="connections-section">
        <h5>CONNECTIONS</h5>
        <div class="add-connection">
          <input type="text" pInput/>
          <button pButton class="add-connection-button">+</button>
          
        </div>
        <!--<div v-bind:class="{ disabled: streams, turnedOn: useAudio && !streams }" class="audio" @click="toggleAudio"></div>!-->
    </div>
      <Connections :connections="connections" :ultraPeer="ultraPeer" :mediaObjects="mediaObjects" :peerNicknames="peerNicknames"></Connections>
      <div class="stream-section">
          <h5>STREAM</h5>
          <div class="screen"></div>
          <!--<div v-bind:class="{ disabled: streams, turnedOn: useAudio && !streams }" class="audio" @click="toggleAudio"></div>!-->
      </div>
    </div>
    <div class="footer">
      <a (click)="disconnect()" routerLink="/home">

        <button pButton type="button">{{ 'PAGES.CONNECTED.DISCONNECT' | translate }}</button>
      </a>
      <a (click)="openCredits()" >{{ 'PAGES.CONNECTED.CREDITS' | translate }}</a>
      
    </div>
  </div>
</ng-template>
<app-sidepanel [panelTemplate]="sidepanelTemplate">

</app-sidepanel>

</div>
