.block {
    min-width: 25%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex: 1 1;
    margin: 5px;
    max-width: 90%;
    height: 100%;
}

.video-container {
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
}

.focused-video-container {
    height: 95%;
    border: 1px dashed blue;
}

.wrap-video {
    height: 100%;
    display: block;
    position: relative;
}

.focused-wrap-video {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.focused-block {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
    width:100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media {
    width: 100%;
    height: 100%;
  }

  .title {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .title.alt {
    font-size: 18px;
    margin-bottom: 10px;
  }

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.04) 34%,rgba(0,0,0,0) 100%);
    z-index:9990;
    width: 100%;
    height: 100%;
    pointer-events: none;
    align-items: flex-end;
    justify-content: center;
    display: none;
    opacity: 1;
    -webkit-animation: fadein 0.25s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

video:hover  + .video-overlay{
    display: flex;
}

.subtitle {
    user-select: none;
}

.fullscreen {
    width: 80%;
    height: 80%;
    border: blue 2px solid;
}